* {
    box-sizing: border-box;
    font-family: Inter, Sans-serif;
    color: rgb(36, 62, 99);
    margin: 0px;
    padding: 0px;
}

link {
    display: none;
}

.btn {
    width: 24px;
    height: 24px;
    object-view-box: 0, 0, 24, 24;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button {
    cursor: pointer;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}



@media 